@model Group21ProjectMVC.Models.ManageViewModels.AddFlightsViewModel

@{
    ViewData["Title"] = "AddFlights";
    ViewData["ActivePage"] = ManageNavPages.AddFlights;
}
<link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
      rel="stylesheet" crossorigin="anonymous">
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" for="@(Model.StatusMessage)" />
    </div>
    <div class="card-body p-4">
        <form asp-action="AddFlights">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-6 form-group">
                    <label asp-for="StartingDate" class="control-label"></label>
                    <div class='input-group datetimepicker' id='datetimepicker1' data-td-target-input='nearest'
                         data-td-target-toggle='nearest'>
                        <input asp-for="StartingDate" id='datetimepicker1Input' type='text' class='form-control'
                               data-td-target='#datetimepicker1' name="DepartureDate" />
                        <span class='input-group-text' data-td-target='#datetimepicker1'
                              data-td-toggle='datetimepicker'>
                            <span class='fas fa-calendar'></span>
                        </span>

                    </div>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="EndingDate" class="control-label"></label>
                    <div class='input-group datetimepicker' id='datetimepicker2' data-td-target-input='nearest'
                         data-td-target-toggle='nearest'>
                        <input asp-for="EndingDate" id='datetimepicker2Input' type='text' class='form-control'
                               data-td-target='#datetimepicker2' name="ReturnDate" />
                        <span class='input-group-text' data-td-target='#datetimepicker2'
                              data-td-toggle='datetimepicker'>
                            <span class='fas fa-calendar'></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 form-group">
                    @Html.ListBoxFor(m => m.AirportsIdSelected, new SelectList(Model.Airports, "Value", "Text"),htmlAttributes: new {@class = "MultiSelectListBox w-100"})
                </div>
                <div class="col-6 form-group">
                    @Html.ListBoxFor(m => m.TimesIdSelected, new SelectList(Model.Times, "Value", "Text"),htmlAttributes: new {@class = "MultiSelectListBox"})
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 form-group">
                    <div class="form-group">
                        <label asp-for="Airline"></label>
                        <select asp-for="Airline" class="form-select" name="Airline">
                            @foreach (var airline in Model.Airlines)
                            {
                                <option>@airline</option>
                            }
                        </select>
                        <span asp-validation-for="Airline" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
    newConnectedDatePicker('datetimepicker1','datetimepicker2');
</script>
<script type="text/javascript">
        $('.MultiSelectListBox').multiselect({
            includeSelectAllOption: true,
        templates: {
            button: '<button type="button" class="multiselect dropdown-toggle form-select" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>'
        },
    });
</script>
}
