@model Group21ProjectMVC.Models.CheckoutViewModels.PassengerDetailsViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "PassengerDetails";
}

<div class="row">
    <div class="col-md-4">
    </div>
</div>
<div id="passengerdetails">
    <form>
        <div class="row">
            <h4 class="end-0">Passenger Details</h4>
            <hr />
        </div>
        <div class="row mb-5" id="needs-validation-details">
            @for (int i = 0; i < Model.SeatsRequired; i++)
            {
                <h5>Passenger @(i+1)</h5>
                if (i == 0)
                {
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <div class="form-floating">
                                    <input asp-for="FirstNames" type="text" class="input form-control" placeholder="First" required="" value="@UserManager.GetUserAsync(User).Result.FirstName" />
                                    <label asp-for="FirstNames">First</label>
                                    <div class="invalid-feedback-details"> Please enter your city. </div>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="LastNames" type="text" class="input form-control" placeholder="Last" required="" value="@UserManager.GetUserAsync(User).Result.LastName" />
                                    <label asp-for="LastNames">Last</label>
                                    <div class="invalid-feedback-details"> Please enter your city. </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ms-2">
                                <span asp-validation-for="FirstNames" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <span asp-validation-for="LastNames" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <div class="form-floating">
                                    <input asp-for="FirstNames" type="text" class="input form-control" placeholder="First" required="" />
                                    <label asp-for="FirstNames">First</label>
                                    <div class="invalid-feedback-details"> Please enter your city. </div>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="LastNames" type="text" class="input form-control" placeholder="Last" required="" />
                                    <label asp-for="LastNames">Last</label>
                                    <div class="invalid-feedback-details"> Please enter your city. </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ms-2">
                                <span asp-validation-for="FirstNames" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <span asp-validation-for="LastNames" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (@Model.ReturnFlightId != 0)
            {
                <input type="hidden" value="@Model.DepartureFlightId" name="DepartureFlightID" />
                <input type="hidden" value="@Model.ReturnFlightId" name="ReturnFlightID" />
                <input type="hidden" value="@Model.SeatsRequired" name="SeatsRequired" />
            }
            else
            {
                <input type="hidden" value="@Model.DepartureFlightId" name="DepartureFlightID" />
                <input type="hidden" value="@Model.SeatsRequired" name="SeatsRequired" />
            }
        </div>
        <div class="row">
            <div class="col-md-12 position-relative">
                <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0" asp-controller="Checkout" asp-action="SeatSelection">Continue</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
