@using System.Globalization
@model Group21ProjectMVC.Models.CheckoutViewModels.ReviewViewModel

@{
    ViewData["Title"] = "Review";
}

<div id="review">
    <div class="row">
        <h4 class="end-0">Review Flights</h4>
        <hr />
    </div>

    <div class="row mb-5">
        <ul>
            @foreach (ApplicationFlight flight in Model.Flights)
            {

                TimeSpan diff = flight.ArrivalTime - flight.DepartureTime;
                string formatted = string.Format(CultureInfo.CurrentCulture, "{0}h {1}m", diff.Hours, diff.Minutes);
                <li id="@flight.FlightNumber" class="pt-4">
                    <div class="row border-bottom pb-4 ps-4 pe-4">
                        <div class="col-8">
                            <div class="row">
                                <div class="col">
                                    <p class="medium-text mb-0">@flight.DepartingAirportCode</p>
                                    <p class="large-text">@flight.DepartureTime.ToString("hh:mm tt")</p>
                                </div>
                                <div class="col">
                                    <i class="fas fa-arrow-right fa-xl"></i>
                                </div>
                                <div class="col">
                                    <p class="medium-text mb-0">@flight.DestinationAirportCode</p>
                                    <p class="large-text">@flight.ArrivalTime.ToString("hh:mm tt")</p>
                                </div>
                                <div class="col">
                                    <p class="medium-text">@formatted</p>
                                </div>
                                <div class="col">
                                    <p class="medium-text text-center">Nonstop</p>
                                </div>
                            </div>
                            <div class="row">
                                <p class="small-text">Flight Number</p>
                                <p class="medium-text">@flight.FlightNumber</p>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <button class="w-100 h-100 btn btn-light rounded border border-dark d-block">
                                <p class="medium-text">Round Trip</p>
                                <p class="large-text text-primary">@String.Format("{0:C0}",flight.Price)</p>
                            </button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <form>
        @if (@Model.ReturnFlightId != 0)
        {
            <input type="hidden" value="@Model.DepartureFlightId" name="DepartureFlightID" />
            <input type="hidden" value="@Model.ReturnFlightId" name="ReturnFlightID" />
            <input type="hidden" value="@Model.SeatsRequired" name="SeatsRequired" />
        }
        else
        {
            <input type="hidden" value="@Model.DepartureFlightId" name="DepartureFlightID" />
            <input type="hidden" value="@Model.SeatsRequired" name="SeatsRequired" />
        }

        <div class="row">
            <div class="col-md-12 position-relative">
                <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0" asp-controller="Checkout" asp-action="PassengerDetails">Continue</button>
            </div>
        </div>
    </form>
</div>
