@using System.Globalization
@using Group21ProjectMVC.Models
@model Group21ProjectMVC.Models.FlightViewModels.TicketSearchViewModel

@{
    ViewData["Title"] = "TicketsByUserId";
}

<div id="departure-flights">
    <h2 class="text-center">Departure Flights</h2>
    <ul>
        @foreach (ApplicationTicket ticket in Model.Tickets)
        {
            TimeSpan diff = ticket.Flight.ArrivalTime - ticket.Flight.DepartureTime;
            string formatted = string.Format(CultureInfo.CurrentCulture, "{0}h {1}m", diff.Hours, diff.Minutes);
            <li class="pt-4">
                <div class="row border-bottom pb-4 ps-4 pe-4">
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <p class="medium-text mb-0">@ticket.Flight.DepartingAirportCode</p>
                                <p class="large-text">@ticket.Flight.DepartureTime.ToString("hh:mm tt")</p>
                            </div>
                            <div class="col">
                                <i class="fas fa-arrow-right fa-xl"></i>
                            </div>
                            <div class="col">
                                <p class="medium-text mb-0">@ticket.Flight.DestinationAirportCode</p>
                                <p class="large-text">@ticket.Flight.ArrivalTime.ToString("hh:mm tt")</p>
                            </div>
                            <div class="col">
                                <p class="medium-text">@formatted</p>
                            </div>
                            <div class="col">
                                <p class="medium-text text-center">Nonstop</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="small-text">Flight Number</p>
                                <p class="medium-text">@ticket.Flight.FlightNumber</p>
                            </div>
                            <div class="col">
                                <p class="small-text">Passenger Name</p>
                                <p class="medium-text">@(ticket.FirstName + " " + ticket.LastName)</p>
                            </div>
                            <div class="col">
                                <p class="small-text">Seat Number</p>
                                <p class="medium-text">@ticket.SeatNumber</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button class="w-100 h-100 btn btn-light rounded border border-dark d-block" type="button">
                            <p class="medium-text">Round Trip</p>
                            <p class="large-text text-primary">@String.Format("{0:C0}",ticket.Flight.Price)</p>
                        </button>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}