@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}
<ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown ms-2 d-inline-block">
            @if (UserManager.GetUserAsync(User).Result != null)
            {
                <a class="nav-link show dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown" data-bs-display="static">
                    @(user.FirstName + " " + user.LastName)
                </a>
            }
            else
            {
                <a class="nav-link show dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown" data-bs-display="static">
                    Hello @User.Identity?.Name
                </a>
            }
            <div class="dropdown-menu dropdown-menu-end show" data-bs-popper="none">
                <div class="dropdown-item">
                    <div class="d-flex">
                        <div class="ms-3 lh-1">
                            @if (UserManager.GetUserAsync(User).Result != null)
                            {
                                <h6 class="mb-1">@(user.FirstName + " " + user.LastName)</h6>
                                <p class="mb-0 text-muted">@user.UserName</p>
                            }
                            else
                            {
                                <h6 class="mb-1">--</h6>
                                <p class="mb-0 text-muted">--</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa-solid fa-user pe-2"></i>Profile</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="TicketsByUserId" title="My Tickets"><i class="fa-solid fa-ticket pe-2"></i>My Tickets</a></li>
                </ul>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled">
                    <li>
                        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="btn btn-link text-dark"><i class="fa-solid fa-power-off pe-2"></i>Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>